p, h1 {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 125ms;
}
p {
  top: calc(50% + 1em);
  font-size: 40px;
}
h1 {
  margin: 0;
  font-size: 200px;
  top: calc(50% - .8em);
}
.container {
  background-image: url('../../assets/images/sale.png');
  background-size: 100%;
  position: relative;
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid #e1e1e1;
  box-shadow: 9px 9px 9px rgba(100, 100, 100, 0.3), -9px -9px 9px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  animation-name: unhovering;
  animation-duration: 250ms;
  animation-fill-mode: backwards;
}
.container:hover {
  animation-name: hovering;
  animation-duration: 125ms;
  animation-fill-mode: both;
}
.container:hover>p {
  font-size: 38px;
  transition: all ease-in-out 125ms;
}
.container:hover>h1 {
  font-size: 190px;
  transition: all ease-in-out 125ms;
}
@keyframes hovering {
  0% {box-shadow: 9px 9px 9px rgba(100, 100, 100, 0.3), -9px -9px 9px rgba(255, 255, 255, 0.4);}
  80% {box-shadow: 0 0 0 rgba(100, 100, 100, 0.3), 0 0 0 rgba(255, 255, 255, 0.4);}
  100% {box-shadow: inset 4px 4px 4px rgba(100, 100, 100, 0.3), inset -4px -4px 4px rgba(255, 255, 255, 0.4);}
}
@keyframes unhovering {
  0% {box-shadow: inset 4px 4px 4px rgba(100, 100, 100, 0.3), inset -4px -4px 4px rgba(255, 255, 255, 0.4);}
  20% {box-shadow: 0 0 0 rgba(100, 100, 100, 0.3), 0 0 0 rgba(255, 255, 255, 0.4);}
  100% {box-shadow: 4px 4px 9px rgba(100, 100, 100, 0.3), -4px -4px 9px rgba(255, 255, 255, 0.4);}
}

