/* You can add global styles to this file, and also import other style files */
* {
  font: 14px "Century Gothic";
  background-color: #e4e4e4;
}
*::-webkit-scrollbar {
  width: 7px;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
