<div class="grid-container">
  <div class="logo">
    <a routerLink="/books"><img src="../../assets/images/logo.png" alt="Logo"></a>
  </div>
  <div class="account">
    <div class="account_buttons">
      <div class="animated" id="filter-button" (click)="showPopup()" *ngIf="authService.isAuthenticated()">ADVANCED SEARCH</div>
      <fa-icon [icon]="faShoppingCart" class="search_button animated"></fa-icon>
      <fa-icon [icon]="faAccount" class="account_button animated"></fa-icon>
    </div>
  </div>
  <nav [style.height]="filterOpen?'300px':'0'"
       [style.margin]="filterOpen?'20px':'0'"
       [class.bumping]="filterOpen"
       class="shadowed">
    <app-filter *ngIf="authService.isAuthenticated()"></app-filter>
  </nav>
  <div class="search_field">
    <label>
      <fa-icon [icon]="faSearch" class="search_icon"
               [ngClass]="searchFocus || searchHover ? 'color-white' : ''"></fa-icon>
      <input type="text" class="search shadowed"
             (focusin)="searchFocus=true"
             (focusout)="searchFocus=false"
             (mouseenter)="searchHover=true"
             (mouseleave)="searchHover=false">
    </label>
  </div>
</div>
